* {
  background-color:  peru;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.container { 
  width: fit-content;
  margin-left: 30px;
}

input {
  background-color: #fff;
}

button {
  background-color: green;
}

.done {
  text-decoration: line-through;
}
